#navbar {
    width: 100%;
    height: 100px;
    display: absolute;
}
#pillNav2 {
    width: 50%;
    
}
#logo {
    width: 50%;
    height: 50px;
    background-repeat: no-repeat;
}
.smaller-image {
    width: 100px;
}
.thick-blue-border {
    border-color: blue;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
}
.homepage {
    width: 100%;
    height: 100px;
    padding: 12rem;

}